apt-utils
bash-completion
build-essential
curl
debian-archive-keyring
debian-keyring
evtest
gdb
git
gnupg2
gpg-agent
joystick
jstest-gtk
locales
lsb-release
mercurial
nano
openssh-server
python3
python3-pip
python3-setuptools
ros-kilted-nav2-bringup
ros-kilted-nav2-common
ros-kilted-rmf-dev
ros-kilted-tf-transformations
ros-kilted-ros-gz
software-properties-common
sudo
tmux
wget
xterm
